/*Title of page*/
.ExperienceTitle {
    padding: 2rem;
    text-align: center;
}

.ExperienceTitle h1, h2{
    font-family: serif;
    font-weight: bold;
    color: black;
}

.ExperienceTitle p{
    color: gray;
}

/*Cards styling*/
.ExperiencesCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 1.5rem;
    margin: auto;
}

/*table for package journeys*/
.PackageList {
    max-width: 100%;
    width: 80%;
    margin: auto;
}

/*Mobile*/
@media (max-width: 800px) {
    .ExperienceTitle {
        padding: 1.5rem 1rem;
    }

    .ExperienceTitle h1 {
        font-size: 1.75rem;
    }

    /*Cards styling*/
    .ExperiencesCard {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        align-items: center;
    }

    .PackageList {
        width: 100%;
    }
}