/*Title of page*/
.ExperienceTitle {
    padding: 2rem;
    text-align: center;
}

.ExperienceTitle h1, h2{
    font-family: serif;
    font-weight: bold;
    color: black;
}

.ExperienceTitle p{
    color: gray;
}

/*Cards styling*/
.ExperiencesCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 1.5rem;
    margin: auto;
}

/*table for package journeys*/
.PackageList {
    max-width: 100%;
    margin: auto;
}

/*Mobile*/
@media (max-width: 800px) {

    /*Cards styling*/
    .ExperiencesCard {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem;
        max-width: 500px;
        margin: 0 auto;
        justify-items: center;
    }
}