/*Carousel Topic styling*/
.TopicHomepage{
    text-align: center;
    margin-top: 2rem;
    font-family: serif;
}

.TopicHomepage h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.TopicHomepage p{
    font-size: 1.25rem;
    color: gray;
    margin-bottom: 1rem;
}

/*Carousel styling*/
.carousel-item img {
    width: 100%;
    height: 90vh;
    display: block;
    border-radius: 15px;
}
.carousel-caption h5 {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: serif;
}
#CarouselInHomepage{
    padding: 2rem;
}

/*Cards*/
#CardsInHomepage{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}


/*View all destinations button*/
#ViewAllDestinationsButtonInHomepage {
    background-color: transparent;
    color: black;
    border: 0.5px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

#ViewAllDestinationsButtonInHomepage:hover {
    background-color: rgb(235, 235, 235);
    transition: background-color 0.3s ease;
}

#DivViewAllDestinationsButtonInHomepage {
    text-align: center;
    margin-bottom: 2rem;
}

/*Travlr details*/
#AllTravlrDetailsInHomepage{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    text-align: center;
    padding: 4rem;
    padding-bottom: 1rem;
}

#AllTravlrDetailsInHomepage h5{
    font-family: serif;
    font-weight: bold;
    margin-top: 0;
}

#AllTravlrDetailsInHomepage p{
    flex-basis: 100%;
    color: gray;
    font-size: 0.9rem;
    width: 150px;
}

#AllTravlrDetailsInHomepage img{
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

/*Each detail*/
.TravlrDetailInHomepage{
    transition: all 1s ease;
}

.TravlrDetailInHomepage:hover{
    transform: translateY(-10px);
    transition: all 1s ease;
}