/*Overall card styling*/
.CardContainer {
    display: inline-block;
}

.card {
    width: 18rem;
    margin: 1rem;
    border-radius: 15px;
    height: 350px;
    transition: all 1s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 1s ease;
}

/*Card img*/
.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 175px;
}

.card-text{
    font-size: 1rem;
    color: gray;
    height: 50px;
}

.card-stay{
    color: grey;
    font-size: 1rem;
    height: 20px;
}

.card h5 {
    font-family: serif;
    font-weight: bold;
}

.card-title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

.card-title-price h5 {
    margin: 0;
    flex: 1;
}

.card-title-price p {
    margin: 0;
    white-space: nowrap;
}