/* Values */
.AchievementsInAboutUs h5{
    font-family: serif;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

/*Value animation*/
.AchievementsInAboutUs{
    transition: all 1s ease;
}

.AchievementsInAboutUs:hover{
    transform: translateY(-10px);
    transition: all 1s ease;
}

@media (max-width: 800px) {
    .AchievementsInAboutUs {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
    }
}
